<div ng-show="$ctrl.loading === true" id="loading-posts-loader">
  <p><span ng-show="$ctrl.lang == 'sv_SE'">Laddar poster...</span> <span ng-show="$ctrl.lang !== 'sv_SE'">Loading posts...</span></p>
</div>

<div class="ub-template" ng-if="$ctrl.bibid && $ctrl.loading === false">
  <div ng-show="!$ctrl.biblio.has_item_level_queue">  
    <div ng-show="$ctrl.notAvailibleCount == 0 && $ctrl.availibleCount == 0">
      <span ng-show="$ctrl.lang !== 'sv_SE'">There are no items</span>
      <span ng-show="$ctrl.lang == 'sv_SE'">Det finns inga exemplar</span>
    </div>
    <div ng-show="$ctrl.availibleCount > 0"> <span ng-show="$ctrl.lang == 'sv_SE'">Tillgängliga</span><span ng-show="$ctrl.lang !== 'sv_SE'">Available</span> ({{$ctrl.availibleCount}})</div>
    <ul class="ub-list">
      <li class="ub-item-list-item" ng-repeat="item in $ctrl.extendedItems | filter:{is_availible:'true'}">
        <div layout=row>
          <div flex>
            <div><span ng-show="$ctrl.lang == 'sv_SE'">{{item.location_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{item.location_name_en}}</span></div>
            <div ng-show="item.sublocation_open_loc === true"><span ng-show="$ctrl.lang == 'sv_SE'">{{item.sublocation_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{item.sublocation_name_en}}</span><span>, </span><span ng-if="item.item_call_number !== ''"> {{item.item_call_number}}</span></div>
            <div ng-show="item.sublocation_open_loc === false"><span ng-show="$ctrl.lang == 'sv_SE'">Måste beställas</span><span ng-show="$ctrl.lang !== 'sv_SE'">Must be requested</span></div>

          </div>
          <div flex>
            <span ng-if="item.status !== ''" class="availability-status is-availible">{{$ctrl.getStatusText(item.status)}}</span>

            <div ng-if="item.status_limitation">{{$ctrl.getStatusText(item.status_limitation)}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>

    <p>
      <div ng-show="$ctrl.availibleCount > 0" ng-include src="'custom/46GUB_KOHA/js/link.html'"></div>
    </p>

    <div ng-show="$ctrl.notAvailibleCount > 0"><span ng-show="$ctrl.lang == 'sv_SE'">Utlånade</span> <span ng-show="$ctrl.lang !== 'sv_SE'">On loan</span> ({{$ctrl.notAvailibleCount}})</div>
    <div ng-show="$ctrl.notAvailibleCount > 0">{{$ctrl.no_in_queue}} <span ng-show="$ctrl.lang == 'sv_SE'">personer i kö</span> <span ng-show="$ctrl.lang !== 'sv_SE'">reservations for items on loan</span></div>
    <ul class="ub-list">
      <li class="ub-item-list-item" ng-repeat="item in $ctrl.extendedItems | filter:{is_availible:'false'}">
          <div layout="row">
            <div flex>
              <div><span ng-show="$ctrl.lang == 'sv_SE'">{{item.location_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{item.location_name_en}}</span></div>
              <div ng-show="item.sublocation_open_loc === true"><span ng-show="$ctrl.lang == 'sv_SE'">{{item.sublocation_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{item.sublocation_name_en}}</span><span>, </span><span ng-if="item.item_call_number !== ''"> {{item.item_call_number}}</span></div>
              <div ng-show="item.sublocation_open_loc === false"><span ng-show="$ctrl.lang == 'sv_SE'">Måste beställas</span><span ng-show="$ctrl.lang !== 'sv_SE'">Must be requested</span></div>
            </div>     
            <div flex>
              <span ng-if="item.status !== ''" class="availability-status is-not-availible">{{$ctrl.getStatusText(item.status)}} <span ng-if="item.status === 'LOANED'"> {{$ctrl.getDateObj(item.due_date) | date:'yyyy-MM-dd' }}</span></span>
            </div>
          </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <p>
      <div ng-show="$ctrl.notAvailibleCount > 0" ng-include src="'custom/46GUB_KOHA/js/link.html'"></div>
    </p>
  </div>

  <div ng-show="$ctrl.biblio.has_item_level_queue && $ctrl.biblio.subscriptiongroups.length > 0">
    <ul class="ub-list">
      <li class="ub-item-list-item link-style" ng-repeat="group in $ctrl.biblio.subscriptiongroups">
        <div layout="row" class="ub-list-item-locations" ng-click="$ctrl.toggleContent(group.id)">
          <div flex><span ng-show="$ctrl.lang == 'sv_SE'">{{group.location_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{group.location_name_en}}</span></div>
          <div flex>
            <div ng-repeat="item in group.short_info">
              {{item}}
            </div>
        </div>
          <div>
            <a>
                <md-icon md-svg-icon="primo-ui:close" alt="" ng-class="{expanded: group.expanded}" class="md-primoExplore-theme ub-close" aria-hidden="true">
                  <svg id="close_cache139" width="100%" height="100%" viewBox="0 0 24 24" y="240" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                </svg>
                </md-icon>
            <span ng-show="$ctrl.lang == 'sv_SE'">Detaljer</span><span ng-show="$ctrl.lang !== 'sv_SE'">Details</span>
            </a>
          </div>
        </div>
        <div ng-show="group.expanded" class="subscription-area">
          <md-divider flex="" class="md-primoExplore-theme flex"></md-divider>
          <ul class="subscription-note">
            <li ng-repeat="subscription in group.subscriptions">
              <div class="subscription-note-heading"><span ng-show="$ctrl.lang == 'sv_SE'">{{subscription.sublocation_name_sv}}</span> <span ng-show="$ctrl.lang !== 'sv_SE'">{{subscription.sublocation_name_en}}</span>, {{subscription.call_number}}</div>
              <div layout=row>
              <textarea wrap=off readonly flex>{{subscription.public_note}}</textarea>
            </div>
          </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <p>
      <div ng-include src="'custom/46GUB_KOHA/js/link.html'"></div>
    </p>
  </div>


  <div ng-show="$ctrl.biblio.has_item_level_queue && $ctrl.biblio.subscriptiongroups.length == 0">
    <div ng-show="$ctrl.availibleCount > 0"> <span ng-show="$ctrl.lang == 'sv_SE'">Tillgängliga och utlånade</span> <span ng-show="$ctrl.lang !== 'sv_SE'">Available and on loan </span>({{$ctrl.totalCount}})</div>
    <ul class="ub-list">
      <li class="ub-item-list-item" ng-repeat="item in $ctrl.extendedItems">
        <div layout=row>
          <div flex>
            {{item.copy_number}}
          </div>
          <div flex>
            <div><span ng-show="$ctrl.lang == 'sv_SE'">{{item.location_name_sv}}</span><span ng-show="$ctrl.lang !== 'sv_SE'">{{item.location_name_en}}</span></div>
            <div ng-if="item.item_call_number !== ''">{{item.item_call_number}}</div>
          </div>
          <div flex>
            <span ng-if="item.status !== ''" ng-class="{'is-availible': item.is_availible, 'is-not-availible': !item.is_availible}"  class="availability-status">{{$ctrl.getStatusText(item.status)}}</span>
            <div ng-if="item.status_limitation">{{$ctrl.getStatusText(item.status_limitation)}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <p>
      <div ng-include src="'custom/46GUB_KOHA/js/link.html'"></div>
    </p>
  </div>
</div>