
.ub-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ub-item-list-item {
    margin-bottom: 1px;
    min-height: 0;
    height: auto;
    padding: 0;
    position: relative;
    background-color: #fff;
}

.ub-item-list-item .md-list-item-text {
    max-width: 100%;
    padding: .75em 1em;
}

.ub-item-list-item h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ub-item-list-item p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.6em;
}

/*
CURRENTLY AVAILIBLE STATUSES. NEEDS TO BE RED, GREEN, ORANGE 
'status-bill_sent_to_borrower'
'status-recallable'
'status-reading_room_only'
'status-non_circulating'
'status-may_be_borrowed_biomedical_library'
'status-may_be_borrowed_education_library'
'status-may_be_borrowed_art_library'
'status-may_be_borrowed_music_and_drama_library'
'status-recently_returned'
'status-requested'
'status-in_transit'
'status-requested_in_transit'
'status-on_hold'
'status-missing'
'status-available'*/

prm-locations md-list {
    display: none;
}

.ub-item-list-item .status-reading_room_only, .status-available {
    color: #0f7d00;
}

.ub-item-list-item .status-missing, .status-on_hold, .status-requested_in_transit {
    color: #e08303;
}

.ub-item-list-item .status-recallable {
    color: red;
}



