/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
  display: -webkit-flex; !* Safari *!
  -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
  display: flex;
  flex-flow: row-reverse wrap;
}
.screen-gt-sm .sidebar{
  webkit-flex: 0 0 15%;
  flex: 0 0 15%;
}
*/

prm-full-view .services-index-under #services-index {
  display: none;
}

.ub-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ub-item-list-item {
    margin-bottom: 1px;
    min-height: 0;
    height: auto;
    padding: 0;
    position: relative;
    background-color: #fff;
}

.ub-item-list-item .md-list-item-text {
    max-width: 100%;
    padding: .75em 1em;
}

.ub-item-list-item h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ub-item-list-item p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.6em;
}

/*
CURRENTLY AVAILIBLE STATUSES. NEEDS TO BE RED, GREEN, ORANGE
'status-bill_sent_to_borrower'
'status-recallable'
'status-reading_room_only'
'status-non_circulating'
'status-may_be_borrowed_biomedical_library'
'status-may_be_borrowed_education_library'
'status-may_be_borrowed_art_library'
'status-may_be_borrowed_music_and_drama_library'
'status-recently_returned'
'status-requested'
'status-in_transit'
'status-requested_in_transit'
'status-on_hold'
'status-missing'
'status-available'*/

prm-locations md-list {
    display: none;
}

.ub-item-list-item .status-requested_in_transit, .status-available, .may_be_borrowed_biomedical_library, .status-may_be_borrowed_education_library, .status-may_be_borrowed_art_library, .status-may_be_borrowed_music_and_drama_library, .status-recently_returned {
    color: #0f7d00;
}

.ub-item-list-item, .status-bill_sent_to_borrower, .status-recallable., .status-requested, .status-requested_in_transit, .status-on_hold, .status-missing {
    color: red;
}

html:lang(sv) .en-template {
        display: none;
}
html:lang(en) .sv-template {
        display: none;
}
